/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   http://work.smarchal.com/twbscolor/css/92a63c92a63cecf0f1ecdbff0
   ========================================================================== */

body {
    /*color: white;*/
    padding-top: 80px;
    font-family: "adobe-garamond-pro";
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.margin-bottomTable, .tradingview-script {
  margin-bottom: 40px;
}

mark.red {
    color:#ff0000;
    background: none;
}